<?xml version="1.0"?>
<config>
    <modules>
        <Company_DeferJS>
            <version>1.0.0</version>  
        </Company_DeferJS> 
    </modules>
    <global>
        <models>
            <company_deferjs>
                <class>Company_DeferJS_Model</class> 
            </company_deferjs> 
        </models> 
        <blocks>
            <company_deferjs>
                <class>Company_DeferJS_Block</class> 
            </company_deferjs>
        </blocks>
        <helpers>
            <company_deferjs>
                <class>Company_DeferJS_Helper</class> 
            </company_deferjs> 
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <company_deferjs>
                    <file>deferjs.xml</file> 
                </company_deferjs> 
            </updates> 
        </layout> 
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <company_deferjs_html_filter>
                        <class>company_deferjs/observer</class>
                        <method>filterHtmlcontent</method>
                    </company_deferjs_html_filter>
                </observers>   
            </core_block_abstract_to_html_after> 
            <controller_action_layout_load_before> 
                <observers>
                    <company_deferjs_add_custom_content>
                        <type>singleton</type>
                        <class>company_deferjs/observer</class>
                        <method>addBlockbodyEnd</method>            
                    </company_deferjs_add_custom_content>       
                </observers>    
            </controller_action_layout_load_before>
        </events> 
    </frontend>
</config>
